.search-bar {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    max-width: 100%;
    box-shadow: 0 0 5px rgba(152, 236, 255, 0.3);
  }
  
  .search-input {
    background-color: #f8f8f8;
    border: none;
    color: #000000;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    width: 500px;
    font-family: 'Manrope', sans-serif;
  }
  
  .search-btn{
    background-color: transparent;
    border: 1px solid #2a90d4;
    color: #2a90d4;
    margin-left: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  .add-sources-btn {
    background-color: transparent;
    border: 1px solid #2a90d4;
    color: #2a90d4;
    margin-right: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    font-family: 'Manrope', sans-serif;
  }

  .search-btn:hover,
  .add-sources-btn:hover {
    background-color: #2a90d4;
    color: #000;
  }
  